.duo-pro-trials {
  background-color: $brand-charcoal;

  .advantages-text {
    color: $gray-50;
  }

  .bg-decorations {
    background-image: url('illustrations/bg-decorations.svg');
    background-repeat: no-repeat;
    background-position: top 30% right -40px;
  }
}
